@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background: rgba(11, 169, 190, 0.192);
}
*{
  font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --border_raduis--:10px;
}

.navbar_facebook{
    position: sticky;
    top: 0;
    z-index: 100002;
    background: white;
}

.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-header{
    width: 15%;
    margin-left: 30px;

}
.nav_pages{
   display: flex;
   justify-content: space-between;
   width: 25%;
   margin: 0%;
}
.navbar_facebook .nav_pages li{
    padding: 20px 40px;
}
.nav_pages li:hover{
    background: #eee;
    cursor: pointer;
}

.nav_icons{
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
  }
.navbar_facebook .nav_icons .user_profile{
  width: 100px;
  max-width: 200px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 2px 4px;
  border-radius: 20px;
  height: 44px;
  color: blue;
  background: hsla(189, 84%, 52%, 0.13);
  cursor: pointer;

}
.nav_icons .user_profile:hover{
  background: #4acef64d;
  transition: all .4s;
}
.nav_icons img{
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
  height: 40px;
  display: flex;
}
.navbar_facebook .fa{
    color: black;
    cursor: pointer;
}
#active{
    border-bottom: 4px solid blue;
    color: blue;
}

/* / PARTH OF POST  / */
.container-card{
    width: 40%;
    margin: 20px auto;
    background: #ffff;
    border-radius: var(--border_raduis--);
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 2px 1px 5px 1px #aaa;
    height: auto;

}
.container-card .card-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: auto;
}
.container-card .card-header .profile{
  width: 30%;
  padding: 10px 0;

}
.container-card .card-header .profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.container-card .add-post{
    width:100%;
    border-radius: 50px;
    padding: 8px 14px;
    box-sizing: border-box;
    background: #f5f4f4;
    font-size: 18px;
    cursor: pointer;
    box-sizing: border-box;
    height: auto;

}
.container-card .add-post:hover{
    background: #E5E5E5;
}

.container-card .card-body{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
    box-sizing: border-box;
  }
.container-card .card-body .btn{
    display: flex;
    align-items: center;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: var(--border_raduis--);

}
.container-card .card-body .btn span{
    margin-left: 10px;
}

.container-card .card-body .btn:hover{
  background: #f5f4f4;
}

/* / END ADD POST / */
.container-card .post-header{
    margin-left: 10px;
    line-height: 5px;
    width: 100%;
    display: flex;
}
.container-card .post-header .post-header-profile{
  width: 100%;
}

.container-card .post-header .post-header-profile .user-profile{
  width: 20%;
}
.container-card .post-header .post-header-profile .user-profile img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.container-card .post-header .post-header-profile .name{
  width: 100%;
}
.card-header-icon{
  width: 5%;
  padding: 10px 0;
}
.card-header-icon .icon{
    cursor: pointer;
    font-size: 20px;
    margin: 0%;
  }

.card-activity{
  position: absolute;
  margin-left: 220px;
  margin-top: 30px;
  width: 20%;
  background: #ffff;
  border-radius: var(--border_raduis--);
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.card-activity li { 
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px 0 ;
  border-radius: 5px;
  text-decoration: none;
}
.card-activity li a { 
  color: black;
  text-decoration: none;
}
.card-activity li:hover{
  background: #f5f4f4;
}
.post-body .description{
    width: 100%;
    margin-bottom: 14px;
    box-sizing: border-box;
}
.image-posted{
    width: 100%;
    box-sizing: border-box;
}
hr{
  margin: 0%;
}
.post-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px ;
    height: auto;
    margin: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
  .post-footer  button{
    padding: 8px 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-weight: 200;
    color:black;
    cursor: pointer;
}
.post-footer .like button{
  background-color: white;
}
.post-footer .click_comment{
  font-size: 18px;
}
.container_comments {
  max-height: 1000vh;
  box-sizing: border-box;
}
.comment_box,.edit_comment{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.display_comment{
  display: flex;
  margin: 20px 10px;
  font-size: 20px;
  /* background: #000; */
}
.comment_box .user-profile, .edit_comment  .user-profile{
  width: 10%;
  margin-right: 20px;
}
.comment_box .user-profile img, .edit_comment  .user-profile img{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.display_comment .user-profile img{
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.display_comment .show_comment {
  padding: 0px 14px;
  border-radius: 20px;
  background: #ddd;
  width: auto;
  min-width: 20%;
  margin-left: 10px;
  height: 2.8rem;
  height: auto;
  font-size: 16px;
  line-height: 2px;
  box-sizing: border-box;
}
.comment_box .input_comment, .edit_comment .input_comment{
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.comment_box .input_comment input, .edit_comment .input_comment input{
  padding: 8px 10px;
  border-radius: 50px;
  width: 100%;
  outline: none;
  border: 1px solid #aaa;
}
.comment_box .input_comment .send-comment, .edit_comment .input_comment .send-comment{
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: -40px;
  position: relative;
  cursor: pointer;
  background: none;
  width: 40px;
  box-sizing: border-box;
  margin-left: 100px;
  font-size: 12px;
}

/* / LIKE & COMMENT / */
.content_like_comment{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.content_like_comment .interest_post{
  width: 50%;
  padding: 0 20px;
  font-size: 18px;
}
.content_like_comment  small{
  text-align: center;
  color: #4267B2;
}

.comment_action{
  width: 200px;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 1px 2px 8px 1px #aaa;
  position: absolute;
  margin-top: -20px;
  margin-left: -40px;
  background: #fff;
  padding: 4px;

}
.comment_action a{
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  display: flex;
}
.comment_action .edit_comment_post:hover{
  background-color: #4599FF;
}
.comment_action #delete:hover{
  background-color: red;
  color:#fff;
}

 /* / FORM ADD POST  / */

.container{
  padding: 4rem 0;
  background-color: hsla(0, 0%, 9%, 0.651);
  position: fixed;
  top: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.container .wrapper{
  margin:40px auto;
  width: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 0%;
}
.container .wrapper section{
  border-radius: var(--border_raduis--);
  width: 100%;
  background-color: #fff;
  padding: 0%;
}
.container img{
  cursor: pointer;
}
.create-post-header{
  display: flex;
  line-height: 0;
  justify-content: space-between;

}
.create-post-header h2 { 
  font-size: 20px;
  margin-left: 40%;
}
.cancel-post{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  float: right;

}
.post form{
  margin: 20px 25px;
}
.post form .content,
.audience .list li .column{
  display: flex;
  align-items: center;
}
.post form .content img{
  cursor: default;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.post form .content .details{
  margin: -3px 0 0 12px;
}
form .content .details p{
  font-size: 17px;
  font-weight: 500;
}
.content .details .privacy{
  display: flex;
  height: 25px;
  cursor: pointer;
  padding: 0 10px;
  font-size: 11px;
  margin-top: 3px;
  border-radius: 5px;
  align-items: center;
  max-width: 98px;
  background: #E4E6EB;
  justify-content: space-between;
}
.details .privacy span{
  font-size: 13px;
  font-weight: 500;
}
.details .privacy i:last-child{
  font-size: 13px;
}


/* / UPDATE POST / */
.update_post{
  margin: 20px 0;
  overflow: auto;
  height: 10rem;
}
.update_post .options{
  margin: 0%;
  padding: 0;
}
.update_post .title {
  font-size: 14px;
  margin: 0%;
}


form :where(textarea, button){
  width: 100%;
  outline: none;
  border: none;
}
form textarea{
  resize: none;
  margin-top: 20px;
  min-height: 60px;
}
form textarea::placeholder{
  color: #858585;
}
form textarea:focus::placeholder{
  color: #b3b3b3;
}
.theme-emoji img:last-child{
  max-width: 24px;
}
form .options{
  height: 50px;
  margin: 0px auto;
  padding: 0 15px;
  border-radius: 7px;
  border: 1px solid #B9B9B9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: auto;
  text-align: center;
  padding:12px;
  margin-bottom: 10px;
}
form .options img {
  border-radius: 5px;
}
form .options:hover{
  background-color: #eeeeee ;
  cursor: pointer;
}
form .options .add-icon{
  width: 20%;
  margin: auto;
  background: #000;
  padding: 10px;

}
form .options .add-icon img{
  width: 50%;
}
form button{
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.3s ease;
  background: #4599FF;
  color: #fff;
}

/* PROFILE */

.rounded .cover{
  width: 100%;
  height: 40vh;
  /* background-color:#ff8818; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-image: url(../images/uploads/cover.jpg);
  background-position: center;
  background-size: cover;
}

.profile-head{
 position: relative;
 bottom: -4rem;
}
.profile-head .profile{
  width: 30vh;
  height: 30vh;
  margin:auto;
  background: rgba(58, 56, 56, 0.459);
  border-radius: 50%;
  
}
.profile img{
  width: 100%;
  border-radius: 50%;
}

.media-body{
  text-align: center;
  position: relative;
}


.bg-light{
  position: relative;
  top: 4rem;
}
.media-body h4{
  color: black;
}

.contianer_prof{
  margin-top: 8rem;
  display: block;
  justify-content: space-between;
  color: black;
}

.conection{
  margin: auto;
  text-align: center;
  margin-top: 1rem;
}
.conection .list-inline{
  display: flex;
  justify-content: space-evenly;
}
.list-inline-item .fas{
  color: #4599FF;
}

.about h5{
  background-color: #4599FF;
  padding: 10px;
  border-radius: 2px;
}

.contianer_profiles{
  width: 40%;
  margin: auto;
 
}

li{
  list-style: none;
}

/* UPLOAD PROFILE IMAGE */
.contianer_uplaod_profile{
  width: 40%;
  position: absolute;
  margin:0 auto;
  top: 15%;
  left: 30%;
}
#image_upload{
  width: 30vh;
  height: 30vh;
  border: none;
  border-radius: 50%;
}
.user-upload .options{
  background-color: white;
  border: none;
  height: 50vh;
}
.user-upload .title_profile{
  padding: 10px;
  position: relative;
 bottom: -1rem;
}
.user-upload #upload_img_profile{
  position: relative;
  top:-1rem;
}
.span_edite{float: right;
  position: relative;
  top: -2rem;
  right: 46%;
}

.profile img{
  width: 30vh;
  height: 30vh;
  border: none;
  border-radius: 50%;
}

/* FRIENDSHIP  */
.group_friendship{
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem;
  border-radius: 4px;
  background-color: #f8f5f5;
  margin: 0.5rem auto;
  
}
.friendship{
  justify-content: space-between;
  align-items: center;
}
.btn_request_acept{
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.profile_friendship{
  display: flex;
  align-items: center;
}
.friend_name{
  margin: 0 1rem;
}
.profile_img img{
  width: 15vh;
  height: 15vh;
  background-color: #b1aeae;
  border-radius: 50%;
}

.btn_reques{
  padding:0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: #4599FF;
}